<h1>Log in!</h1>

<%= render partial: "shared/errors", locals: { obj: @user } %>

<form action="<%= session_url %>" method="post">

  <%= render partial: "shared/login_inputs", locals: { user: @user } %>

  <button>Log in!</button>
</form>
