<header class="board-title trigger">
  <h3 class="board-title" ><%= board.escape("title") %></h3>
  <a href="javascript:void(0)" class="delete-board delete">X</a>
  <a href="javascript:void(0)" class="edit-board">Edit Board</a>


</header>

<form class="hidden-input board-form">
  <input type="text" name="board[title]" value="<%= board.escape("title") %>">
  <button>Submit</button>
</form>

<br>
<a href="#">All Boards</a>


<h4>Lists</h4>

<ul class="lists group">

</ul>


<div class="modal1">
  <div class="modal-background hidden-input">
    <article class="card-show">
      <h1>Modal Placeholder</h1>
    </article>
  </div>

</div>
