<a href="javascript:void(0)" class="trigger">New Card</a>

<form class="hidden-input">
  <input type="text" name="card[title]" value="">
  <textarea name="card[description]"></textarea>
  <button>Create</button>
</form>
