/* PHASE 1: Header */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #eee;
}

.header {
  background: #f00;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header a {
  display: block;
  color: white;
  padding: 10px 20px;
}

.header a:hover {
  background: black;
}

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-logo > a {
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li > a {
}
