/* PHASE 3: Layout */
.content {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  position: relative;
}

.content-main {
  width: 640px;
  padding: 20px 10px;
  float: left;
  min-height: 200px;
}

.content-main:before {
  position: absolute;
  width: 1px;
  top: 200px;
  bottom: 0;
  display: block;
  content: "";
  background: #ccc;
  left: 240px;
}


.content-sidebar {
  width: 220px;
  padding: 20px 10px;
  float: left;
  min-height: 200px;
}
