/* PHASE 4: Footer */

.footer {
  width: 860px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 14px;
  color: #aaa;
  padding: 20px;
}

.footer-logo {
  float: left;
}

.footer-nav {
  float: right;
}

.footer-nav > li {
  float: left;
  padding-left: 20px;
}

.footer-nav > li > a {

}

.footer-nav > li > a:hover {
  color: #000;
}
