<h2>Feed!</h2>

<%= feed.escape("title")%>

<br>

<%= feed.escape("url")%>

<br>

<br>
<button name="button">Refresh</button>

<h3>Entries</h3>
<ul>
  <% feed.entries().forEach(function (entry) { %>

    <li><%= entry.escape('title') %></li>

  <%  }) %>
</ul>
