<h2>Create Post</h2>


<form class="post-form">
  <label>
    Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>
    Body
    <textarea name="post[body]" rows="8" cols="40"></textarea>
  </label>

  <button>Submit</button>

</form>
